<!-- nested under panel-body panel-light -->
<div class="wishlist-wrapper">
  <label for="wishlist-button" class="btn btn-block btn-large">
    <!-- toggle based on whether this is on user's wishlist -->
    <span class="wishlist-toggle-checked">
      <i class="fa fa-heart"></i>   Saved to Wish List
    </span>
    <span class="wishlist-toggle-unchecked">
      <i class="fa fa-heart-o"></i>   Save to Wish List
    </span>
  </label>
</div>
