<h1>Create new listing</h1>
<br>
<form class="new-listing-form" method="post">
  <label>Title:
    <input type="text" name="listing[title]">
  </label>
  <br>
  <label>Address:
    <input type="text" name="listing[address]">
  </label>
  <br>
  <label>City:
    <input type="text" name="listing[city]">
  </label>
  <br>
  <label>State:
    <input type="text" name="listing[state]">
  </label>
  <br>
  <label>Description:
    <textarea name="listing[description]"></textarea>
  </label>
  <br>
  <label>Price (daily):
    <input type="text" name="listing[price]">
  </label>
  <br>
  <button class="btn btn-primary" type="submit" name="button">Create listing</button>

</form>
