<div class="col-md-7 search-container">
  <div class="row search-details">
    Search Details
  </div>
  <div class="row search-results">
    Search Results
  </div>
</div>
<div class="col-md-5 search-map">
  Map
</div>
