<div class="row search-details">
  <div class="row dates">
    Dates
    <input type="text"
           name="checkin"
           id="checkin"
           placeholder="Check In"
           value="<%= checkin %>">
    <input type="text"
           name="checkout"
           id="checkout"
           placeholder="Check Out"
           value="<%= checkout %>">
  </div>
  <div class="row price-range">
    Price Range
  </div>
</div>

<script charset="utf-8">
  (function () {
    $('#checkin').datepicker();
    $('#checkout').datepicker();
  })();
</script>
