<div class="col-md-5 search-map">
  Map
</div>

<div class="col-md-7 search-container">
  <div class="row search-details">
    <div class="row dates panel-body">
      <div class="row">
        <div class="col-lg-3">
          <label>Dates</label>
        </div>
        <div class="col-lg-9">
          <div class="row row-condensed">
            <div class="col-md-4">
              <input type="text"
                     name="checkin"
                     id="checkin"
                     placeholder="Check In"
                     value="<%= PetBnB.router._checkin %>">
            </div>
            <div class="col-md-4">
              <input type="text"
                     name="checkout"
                     id="checkout"
                     placeholder="Check Out"
                     value="<%= PetBnB.router._checkout %>">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row price-range panel-body">
      <div class="row">
        <div class="col-lg-3">
          <label>Price Range</label>
        </div>
        <div class="col-lg-9">
          <div id="slider">
          </div>
          <div class="row">
            <span class="pull-left" id="slider-min"></span>
            <span class="pull-right" id="slider-max"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
