<!-- <video preload="auto" loop="loop" id="markov-video"
       class="video-playing"
       autoplay>
  <source src="https://s3-us-west-1.amazonaws.com/petbnb/videos/markov.mp4"
          type="video/mp4">
</div>

<script charset="utf-8">
  $(document).ready(function () {
    document.querySelector('video').playbackRate = 0.5;
  })
</script> -->
