<!-- <% if logged_in? %>
  <h2>Welcome back, <%= current_user.email%>!</h2>
<% else %>
  <h2>Welcome to PetBnB :)</h2>
  <p>
    Please login or sign up with the links on the top right!
  </p>
<% end %> -->

<div class="container">
  <div class="intro-wrapper">
    <div class="intro-text">
      VACATION HOMES FOR YOUR PET
    </div>
    <div class="intro-search">
      <form class="form-group form-inline">
        <div class="input-group">
          <span class="input-group">
            <input type="text" class="form-control search"
                   name="search[term]"
                   placeholder="Where does your pet want to go?">
          </span>
          <span class="input-group">
            <input type="date" class="form-control"
                   name="search[checkin]"
                   placeholder="Check In">
          </span>
          <span class="input-group">
            <input type="date" class="form-control"
                   name="search[checkout]"
                   placeholder="Check Out">
          </span>
          <span class="input-group-btn">
            <button class="btn btn-primary">Search</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

<script charset="utf-8">
  $(document).ready(function () {
    $('body').addClass('homepage');
  });
  $(document).unload(function () {
    $('body').removeClass('homepage');
  });
</script>
