<div class="intro-wrapper">
  <div class="intro-text">
    VACATION HOMES FOR YOUR PET
    <% if !logged_in? %>
      <div class="welcome-text">
        Welcome to PetBnB :)
        <br>
        Please login or sign up with the links on the top right!
      </div>
    <% end %>
  </div>
  <% if logged_in? %>
    <div class="intro-search">
      <form class="form-group form-inline search-bar">
        <%= auth_input %>
        <div class="input-group">
          <span class="input-group">
            <input type="text" class="form-control search"
                   name="search[location]"
                   id="homepage-searchbox"
                   placeholder="Where does your pet want to go?">
            <span class="errors"></span>
          </span>
          <span class="input-group hidden-xs">
            <input type="text" class="form-control"
                   id="checkin"
                   name="search[checkin]"
                   placeholder="Check In">
          </span>
          <span class="input-group hidden-xs">
            <input type="text" class="form-control"
                   id="checkout"
                   name="search[checkout]"
                   placeholder="Check Out">
          </span>
          <span class="input-group-btn">
            <button class="btn btn-primary search">Search</button>
          </span>
        </div>
      </form>
    </div>
  <% end %>
</div>
<div class="intro-listings">
  <div class="panel panel-dark">
    <div class="discovery-container">
      <div class="discovery-text text-center row-space-6 row-space-top-8">
        <h2>Friendly hosts</h2>
        <p>Pamper your pet while you travel</p>
      </div>
      <div class="discovery-tiles row">
        <div class="col-md-6 col-sm-12">
          <div class="discovery-tile" style="background: url('https://s3-us-west-1.amazonaws.com/petbnb/images/listings/listing1b.jpg');">
            <a href="#/listings/1">
              <div class="va-middle text-center">Noe Valley</div>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="discovery-tile" style="background: url('https://s3-us-west-1.amazonaws.com/petbnb/images/listings/listing4a.jpg');">
            <a href="#/listings/4">
              <div class="va-middle text-center">SOMA</div>
            </a>
          </div>
        </div>
      </div>
      <div class="discovery-footer">
        <button type="button" class="btn btn-large btn-block">
          <!-- backbone: trigger search for all listings -->
          See All Listings
        </button>
      </div>
    </div>
  </div>
</div>

<script charset="utf-8">
  $(document).ready(function () {
    $('#checkin').datepicker({ minDate: 1 });
    $('#checkout').datepicker({ minDate: 1 });
  })
</script>
