<div class="container">
  <div class="intro-wrapper">
    <div class="intro-text">
      VACATION HOMES FOR YOUR PET
      <% if !logged_in? %>
        <div class="welcome-text">
          Welcome to PetBnB :)
          <br>
          Please login or sign up with the links on the top right!
        </div>
      <% end %>
    </div>
    <% if logged_in? %>
      <div class="intro-search">
        <form class="form-group form-inline" action="/api/search" method="POST">
          <%= auth_input %>
          <div class="input-group">
            <span class="input-group">
              <input type="text" class="form-control search"
                     name="search[location]"
                     placeholder="Where does your pet want to go?">
            </span>
            <span class="input-group">
              <input type="date" class="form-control"
                     name="search[checkin]"
                     placeholder="Check In">
            </span>
            <span class="input-group">
              <input type="date" class="form-control"
                     name="search[checkout]"
                     placeholder="Check Out">
            </span>
            <span class="input-group-btn">
              <button class="btn btn-primary search">Search</button>
            </span>
          </div>
        </form>
      </div>
    <% end %>
  </div>
</div>

<script charset="utf-8">
  $(document).ready(function () {
    $('body').addClass('homepage');
  });
  $(document).unload(function () {
    $('body').removeClass('homepage');
  });
</script>

<!-- <video preload="auto" loop="loop" id="markov-video"
       class="video-playing"
       autoplay>
  <source src="https://s3-us-west-1.amazonaws.com/petbnb/videos/markov.mp4"
          type="video/mp4">
</div>

<script charset="utf-8">
  $(document).ready(function () {
    document.querySelector('video').playbackRate = 0.5;
  })
</script> -->
