<% var email = user.escape('email').split('@')[0] %>
<% var avatar_url = user.escape('avatar_url') === '' ? "https://s3-us-west-1.amazonaws.com/petbnb/images/smilie.png" : user.escape('avatar_url') %>

<div class="row-space-4 row-space-top-4">
  <div class="row">
    <div class="col-md-3">
      <div class="panel row-space-4">
        <div class="media photo">
          <img src="<%= avatar_url %>" alt="" />
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row-space-4">
        <h1>Hey, I'm <%= email %>!</h1>
      </div>
      <div class="row-space-4">
        <% if (user.listings().length) { %>
          <h4>Listings:</h4>
          <% user.listings().each(function(listing) { %>
            <a href="#/listings/<%= listing.id %>">
              <%= listing.escape('name') %>
            </a>
            <br>
          <% }) %>
        <% } else { %>
          This user currently has no listings.
        <% } %>
      </div>
    </div>
  </div>
</div>
