<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/">
        <%= image_tag('https://s3-us-west-1.amazonaws.com/petbnb/images/logo_icon.png',
                      size: '50x50',
                      class: 'navbar-brand pull-right',
                      alt: 'logo') %>
      </a>
    </div>
    <div class="input-group input-group-sm">
     <span class="input-group-addon" id="sizing-addon3"><i class="glyphicon glyphicon-search"></i></span>
     <input type="text" class="form-control" placeholder="Where is your pet going?"
            aria-describedby="sizing-addon3">
   </div>
    <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-expanded="false">
              <%= current_user.email %><span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="/users/<%= current_user.id %>">
                  View Profile
                </a>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to 'Log out', session_url, method: :delete %>
          </li>
        <% else %>
          <li>
            <a href="#" data-toggle="modal"
               data-target="#loginModal">Log In</a>
          </li>
          <li>
            <a href="#" data-toggle="modal"
               data-target="#signupModal">Sign Up</a>
          </li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
