/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@font-face {
  font-family:Airglyphs;
  src: url("https://s3-us-west-1.amazonaws.com/petbnb/fonts/airglyphs.eot");
  src: url("https://s3-us-west-1.amazonaws.com/petbnb/fonts/airglyphs.eot") format("eot"),
  url("https://s3-us-west-1.amazonaws.com/petbnb/fonts/airglyphs.woff") format("woff"),
  url("https://s3-us-west-1.amazonaws.com/petbnb/fonts/airglyphs.ttf") format("truetype");
  font-weight:normal;
  font-style:normal
}
@font-face {
  font-family: Circular;
  src: url("https://s3-us-west-1.amazonaws.com/petbnb/fonts/circular-air-book.eot");
  src:url("https://s3-us-west-1.amazonaws.com/petbnb/fonts/circular-air-book.eot") format("eot"),
  url("https://s3-us-west-1.amazonaws.com/petbnb/fonts/circular-air-book.woff") format("woff");
  font-weight:normal;
  font-style:normal}

@font-face{
  font-family:Circular;
  src:url("https://s3-us-west-1.amazonaws.com/petbnb/fonts/circular-air-bold.eot");
  src:url("https://s3-us-west-1.amazonaws.com/petbnb/fonts/circular-air-bold.eot") format("eot"),
  url("https://s3-us-west-1.amazonaws.com/petbnb/fonts/circular-air-bold.woff") format("woff");
  font-weight:normal;
  font-style:italic
}

/* General */

* {
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  ul { list-style: none; }
}

/* Navbar */
.navbar { border-radius: 0; }

.navbar-header { width: 80px }

.navbar-brand {
  float: right;
  padding: 0;
  margin: 0 20px;
}

/* Content */

#content {
  height: 2000px;
  // padding: 0 20px;
}

/* Home Page */

.homepage {
  background-image: url('https://s3-us-west-1.amazonaws.com/petbnb/images/homepage/bg.jpg');
  background-repeat: no-repeat;
  .container { height: 600px; }
}

.intro-wrapper { height: 100%; }

.intro-text {
  position: relative;
  top: 250px;
  text-align: center;
  font-size: 54px;
  font-weight: 700;
  color: white;
}

.intro-search {
  padding: 33px 0;
  position: absolute;
  top: 600px;
  left: 0;
  width: 100%;
  background-image: url('https://s3-us-west-1.amazonaws.com/petbnb/images/homepage/search-bg.png');
  form {
    div.input-group {
      margin: 0 32%;
      input.search {
        width: 250px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
    padding: 0;
  }
}

.form-group { margin: 0; }

span > button { height: 34px; }

/* Modals */

.modal { position: absolute; }

/* Buttons & Links */

a {
  text-decoration: none;
  color: #FF5A5F;
  &:hover {
    text-decoration: underline;
    color: #FFA3A6;
  }
}

.btn-primary {
  border: none;
  background-color: #FF5A5F;
  &:active, &:hover { background-color: #FFA3A6; }
}
