/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);

@font-face {
  font-family: 'Circular Book';
  src: url('https://s3-us-west-1.amazonaws.com/petbnb/fonts/lineto-circular-book-s.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Circular Medium';
  src: url('https://s3-us-west-1.amazonaws.com/petbnb/fonts/lineto-circular-medium-s.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Circular Bold';
  src: url('https://s3-us-west-1.amazonaws.com/petbnb/fonts/lineto-circular-bold-s.ttf');
  font-weight: 700;
}

/* General */

* {
  font-family: 'Circular Book', 'Nunito', sans-serif;
  font-weight: 300;
}

body {
  background-image: url('homepage/bg.jpg');
  background-size: auto 700px;
}

/* Navbar */

.navbar-header { width: 80px }

.navbar-brand {
  float: right;
  padding: 0;
  margin: 0 20px;
}

/* Content */
//
// #content {
//   padding: 0 20px;
// }

/* Home Page */

.intro-wrapper { height: 500px; }

.intro-content {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.intro-text {
  position: absolute;
  width: 100%;
  top: 350px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.intro-search {
  padding: 33px 0;
  position: absolute;
  left: 0;
  top: 500px;
  width: 100%;
  height: 100px;
  background-color: black;
  opacity: 0.7;
  form {
    opacity: 1;
    div.input-group {
      margin: 0 32%;
      .search { width: 250px; }
    }
    padding: 0;
  }
}

.form-group { margin: 0; }

input.search {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

span > button { height: 34px; }

/* Modals */

.modal {
  position: absolute;
}

ul.errors {
  list-style: none;
}

/* Buttons & Links */

a {
  text-decoration: none;
  color: #FF5A5F;
  &:hover {
    text-decoration: underline;
    color: #FFA3A6;
  }
}

.btn-primary {
  border: none;
  background-color: #FF5A5F;
  &:active, &:hover { background-color: #FFA3A6; }
}
