// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Results Page */

.results {
  height: 100%;

  * {
    text-align: center;
    border: 1px solid black;
  }

  .row { margin: 0 }

  .search-container, .search-map { height: 100%; }

  .search-details, {
    height: 30%;

    .row {
      height: 50%;

      div.input-group {
        margin: 0 auto;
        display: table;

        * {
          height: 40px;
          float: left;
          font-size: 16px;
        }
      }
    }
  }

  .search-results {
    height: 70%;

    li {
      width: 25%;
      height: 0;
      padding-bottom: 25%;

      a {
        text-decoration: none;
        border: none;
        display: block;
      }
    }
  }
}
