/* Listing Show Page */

.listing-show {
  margin: 0;

  * { color: #82888A; }

  h1 {
    color: #565A5C;
    margin-top: 0;
  }

  .cover {
    width: 100%;
    height: 550px;
    background-color: teal;
  }

  .summary {
    margin-top: -40px;
    padding-top: 40px;
    height: 215px;
    background-color: transparent;

    & > .row {
      margin: 0 20%;
      padding: 0 25px;

      .row-space-4 {
        padding: 25px 0;

        .user-email { padding-top: 18px; }
      }
    }

    .booking-form {
      position: absolute;
      top: -40px;

      .price-box {
        height: 40px;
        background-color: rgba(60, 63, 64, 0.901961);
        * { color: white; }

        .price {
          margin: 0;
          padding: 6px 20px;
          font-size: 24px;
        }
        .per-night {
          padding: 0 20px;
          font-size: 14px;
          line-height: 40px;
        }
      }

      .panel {
        width: 315px;
        border: 1px solid #DCE0E0;
        border-radius: 0;

        .panel-body {
          padding: 20px;

          .form-fields {

            .row {
              margin-bottom: 18.75px;
              margin-left: -6.25px;
              margin-right: -6.25px;

              .col-sm-6 {
                line-height: 2;

                input { width: 100%; }
              }
            }
          }

          .booking-details {
            display: none;
            margin: 0 -20px;

            table {
              border: none;
              margin-bottom: 15px;

              td {
                border: 1px solid #DCE0E0;
                border-left: none;
                border-right: none;
              }

              #cost-breakdown-2, #cost-breakdown-total {
                border: 1px solid #DCE0E0;
                border-right: none;
              }
            }

            .booking-button {
              #booking-button {
                border: none;
                color: white;

                .fa-bolt { color: #FFB400; }
              }
            }
          }

          .booking-details.enabled { display: block; }

          .booking-errors {
            display: none;

            .message {
              margin: 0 auto 15px auto;
              text-align: center;
              color: #FF5A5F;
            }

            a#view_other_listings { color: #565A5C; }
          }

          .booking-errors.enabled { display: block; }

          #book-urgency-commitment {
            margin-top: 25px;

            .panel-body {
              width: 273px;
              background-color: #FFF8E5;
              padding: 14px;
              margin: 0 auto;

              .icon {
                height: 40px;
                width: 28px;
                background: url('https://s3-us-west-1.amazonaws.com/petbnb/images/listings/hourglass.png') right bottom no-repeat;
                margin-right: 15px;
              }

              .media-body {
                padding-left: 5px;
                font-size: 14px;
              }
            }
          }

          .wishlist-wrapper {
            margin-top: 18.75px;

            label {
              span {
                .fa-heart-o { color: #CCC; }

                .fa-heart { color: #FF5A5F; }
              }

              span.wishlist-toggle-checked,
              span.wishlist-toggle-unchecked {
                color: #565A5C;
              }
            }
          }
        }
      }
    }
  }
}
