/* Results Page */

.results {
  height: 100%;

  & > * { padding: 0; }

  .search-container {
    height: 100%;

    @media screen and (max-width: 990px) { height: 50%; }
  }

  .search-details, {
    margin-right: 0;
    padding-left: 20px;
    width: 100%;
    display: table;

    label {
      font-weight: normal;
      margin: 12px 0;
    }

    .dates {
      .row { height: 100%; }

      .col-lg-3, .col-lg-9 { height: 100%; }

      #checkin, #checkout { margin: 10px 0; }
    }

    .price-range {
      & > .row {
        border-top: 1px solid #dce0e0;
        padding-top: 20px;

        .col-md-10 {
          padding: 15px 30px;

          #slider {
            height: 5px;
            top: -5px;
            border: none;
            background: none;
            background-color: #dce0e0;

            .ui-slider-range {
              background: none;
              background-color: #ff5a5f;
            }

            .ui-slider-handle {
              top: -0.8em;
              border-radius: 15px;
              height: 30px;
              width: 30px;

              &:hover { cursor: pointer;}
            }

            .ui-state-default, .ui-state-focus, .ui-state-hover,
            .ui-state-active {
              background: white;
              border: 1px solid #d3d3d3;
            }
          }

          .row {
            position: relative;
            top: 10px;
            padding: 0 12px;
          }
        }
      }
    }
  }

  .search-results {
    @media screen and (max-width: 990px) { min-height: 300px; }

    padding-top: 20px;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-top: 1px solid #dce0e0;
    background-color: #f5f5f5;

    .outer-container {
      margin-bottom: 31.25px;
      padding: 0 20px;

      .listing-container {
        padding: 0 12.5px;
        max-height: 350px;

        .listing-img {
          img {
            height: 250px;
            width: 100%;
          }

          .listing-price {
            height: 50px;
            position: relative;
            bottom: 90px;
            background-color: rgba(60, 63, 64, 0.901961);
            color: white;
            font-size: 24px;
            font-weight: 300;
            padding: 5px 10px;
            display: table;

            i.fa.fa-bolt { font-size: 20px; }
          }
        }

        .panel-body {
          position: relative;
          bottom: 50px;
          font-size: 16px;

          a { text-decoration: none; }

          h3 {
            margin: 10px 0;
            font-size: 20px;
          }

          .address {
            font-size: 14px;
            color: #777;

            &:hover { color: #CCC; }
          }
        }
      }
    }
  }

  .search-map {
    @media screen and (max-width: 990px) { height: 50%; }

    height: 100%;
    padding-left: 0;

    * { border: none; }

    #map-canvas { height: 100%; }
  }
}
