// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Results Page */

.results {
  height: 100%;

  & > * { padding: 0; }

  .search-container { height: 100%; }

  .search-details, {
    margin-right: 0;
    padding-left: 20px;
    height: 30%;

    & > .row {
      margin: 0;
      height: 50%;
    }

    label {
      font-weight: normal;
      margin: 12px 0;
    }

    .dates {
      .row { height: 100%; }

      .col-lg-3, .col-lg-9 { height: 100%; }

      #checkin, #checkout { margin: 10px 0; }
    }

    .price-range {
      margin-right: 50px;

      &:before {
        content: "";
        position: absolute;
        top: 14%;
        height: 1px;
        width: 96%;
        left: 2%;
        border-top: 1px solid #dce0e0;
      }

      .col-lg-9 {
        padding: 15px 30px;

        #slider {
          height: 5px;
          top: -5px;
          border: none;
          background: none;
          background-color: #dce0e0;

          .ui-slider-range {
            background: none;
            background-color: #ff5a5f;
          }

          .ui-slider-handle {
            top: -0.8em;
            border-radius: 15px;
            height: 30px;
            width: 30px;

            &:hover { cursor: pointer;}
          }

          .ui-state-default, .ui-state-focus, .ui-state-hover,
          .ui-state-active {
            background: white;
            border: 1px solid #d3d3d3;
          }
        }

        .row {
          position: relative;
          top: 10px;
          padding: 0 12px;
        }
      }
    }
  }

  .search-results {
    padding-top: 20px;
    margin: 0;
    height: 70%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-top: 1px solid #dce0e0;
    background-color: #f5f5f5;

    .outer-container {
      margin-bottom: 31.25px;
      padding: 0 20px;

      .listing-container {
        padding: 0 12.5px;
        width: 50%;

        .panel-img {
          img {
            width: 100%;
            height: 350px;
          }

          .listing-price {
            height: 50px;
            position: relative;
            bottom: 100px;
            background-color: rgba(60, 63, 64, 0.901961);
            color: white;
            font-size: 28px;
            font-weight: 300;
            padding: 5px 10px;
            display: table;

            i.fa.fa-bolt { font-size: 20px; }
          }
        }

        .panel-body {
          position: relative;
          bottom: 50px;
        }
      }
    }
  }

  .search-map {
    height: 100%;
    padding-left: 0;

    * { border: none; }

    #map-canvas { height: 100%; }
  }
}
